*{
  box-sizing: border-box;
}

body{
  background-image:url(https://www.toptal.com/designers/subtlepatterns/patterns/trees.png);
}

h3{
  font-family: sans-serif;
  text-align: center;
  font-family: monospace;
  border-style: solid yellow;
  text-shadow: 1px 1px #353f9b;
  font-size: 20px;
}

p{
  font-family: sans-serif;
  font-weight: lighter;
  text-align-last: center;
  letter-spacing: inherit;
}

footer{
font-family: sans-serif;
text-align: center;
font-size: 12px;
}

.bienvenida{
font-weight: bold;
}

nav{
display: flex;
justify-content: center;
}

.pill-nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  font-family: sans-serif;
}

.pill-nav a:hover {
  background-color: #7eb1e4;
  color: black;
}

.pill-nav a.active {
  background-color: dodgerblue;
  color: black;
}
footer{
  display: flex;
  justify-content: flex-start;

}
a:hover{
  background-color: orange;
}
}
.col{
  float: right;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  background-color: black;
  border-radius: 20px;
  padding: 5;
  margin: 5;
  border-image: solid;
  filter: blur(5px);

}
.row{
  text-align: center;
  filter: drop-shadow(16px 16px 20px #353f9b);
  filter: brightness(0,4);
  animation-fill-mode: forwards
  animation-duration: 3s;
}
